@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
  }
body
{
    background: #666666;
}


#login {
        display: block;
        background-color: #f7f7f7;
        text-align: center;
        border: rgb(214, 208, 208) solid;
        border-radius: 10px;
        border-width: 1px;
        margin: auto;
        margin-top: 40px;
        width: 600px;
        height: 1000px;
        padding: 80px 55px 55px 55px;
        box-shadow: 10px -3px 30px#333333;
}
.form_title 
{
    display: block;
    font-size: 30px;
    text-align: center;
    font-family: Poppins-Regular;
    margin-top: 50px;
    margin-bottom: 100px;
    color:#333333;
    text-shadow: 3px -3px 30px #999494;
    line-height: 1.2;
    text-align: center;
}
#form
{
    display: block;
    text-align: center;
    padding-left: 0px; 
    width: 100%;
    height: 800px;
}
#input
{
    display: flex;
    text-align: left;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
}

#font_form
{
    width : 200px;
    font-family: Montserrat-Regular;
    text-shadow: 3px -3px 80px #c0c0c0;
}

.text_box
{
    border-radius: 7px;
    border-width: 1px;
    box-shadow: 6px 0px 15px #a5a5a5;
    background: transparent;
    height: 45px;
    width: 350px;
}

#forgot_pass
{
    font-family:Montserrat-Regular;
    line-height: 1.4;
    font-size: 13px;
    color: #555555;
    text-shadow: 3px -3px 80px #dfdddd;
    padding-left: 180px;
}
#sign_up_button
{
    text-align: center;
    background-color: #6675df;
    box-shadow:2px 0px 20px #8f8f8f;
    font-family: Montserrat-Bold;
    border-radius: 10px;
    margin-top: 40px;
    color: white;
    font-size: 18px;
    width : 500px;
    height: 50px;
}
#sign_up
{
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 1.4;
    text-shadow: 3px -3px 30px #c0c0c0;
    color: #999999;
}